body{
  padding: 30px;
  margin: 0;
  background-color: #454d6b
}
h1{
  text-align: center;
  color: #fff;
}

h2{
  text-align: center;
  color: #fff;
  font-size: 25px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.card {
  background-color: rgba(19, 19, 19, 0.3);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}
input[type="text"],
input[type="email"],
input[type="password"],

select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 14px;
  font-size: 14px;
  background-color: rgba(19, 19, 19, 0.3);
  color: #fff;
}

input[type="radio"] {
  margin-right: 8px;
}

input{
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(19, 19, 19, 0.3);
  color: #fff;
}

button[type="submit"], button[type="reset"]{
  background-color: #008080;
  color: #fff;
  padding: 10px 15px;
  border: 3px solid rgba(19, 19, 19, 0.3);
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}

.btn{
  text-align: center;
  transition: .3s;
}

button[type="submit"]:hover,button[type="reset"]:hover {
  background-color: #008080;
}

button[type="submit"]:active,button[type="reset"]:active {
  background-color: #008080;
  transform: translateY(2px);
}

